* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.topHeader__sectionOne {
  padding: 12px 0px;
}

.topHeader__sectionOne__wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.searchBox {
  width: 530px;
  height: 48px;
  border-radius: 30px;
  padding-left: 22px;
  background-color: #f0f1f2;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#searchInput {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 30px;
  appearance: none;
}

#searchInput:focus {
  border: none;
}

.languageSelect {
  width: 167px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

#languageOptions {
  height: 20px;
  border: none;
}

.locationSelectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.placeIcon {
  padding: 14px;
  border-radius: 50%;
  background-color: #e3ebfd;
  cursor: pointer;
}

.locationDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.locationDropdown p {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  text-align: left;
  color: #9a9ea6;
}

#locationOptions {
  color: #4475f2;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;
}

.topHeader__sectionTwo {
  border-top: 1px solid #dfdfe0;
}

.topHeader__sectionTwo__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: 24px 0px;
}

.mainNav select {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  color: #9a9ea6;
  border: none;
  cursor: pointer;
}

.userAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: 220px;
}

.deleteIcon {
  padding: 14px;
  border-radius: 50%;
  background-color: #4475f2;
  cursor: pointer;
}

.userIcon {
  padding: 14px;
  border-radius: 50%;
  background-color: #e3ebfd;
  cursor: pointer;
}

.mainHero {
  padding-top: 72px;
}

.mainHero__wrapper {
  display: flex;
  flex-direction: row;
}

.mainHero__content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.exploreText {
  width: 299px;
  height: 36px;
  border-radius: 39px;
  background-color: #e5edff;
  color: #4f7df3;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 17.64px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.mainHero__title {
  font-family: "Plus Jakarta Sans";
  font-size: 76px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #181e4b;
  margin-bottom: 30px;
}

.mainHero__title span {
  color: #4f7df3;
}

.descriptionText {
  width: 60%;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #5e6282;
  margin-bottom: 34px;
}

.mainHero__content > div {
  display: flex;
  align-items: center;
  gap: 41px;
}

.mainHero__content > div button:first-child {
  width: 198px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #4475f2;
  color: white;
}

.mainHero__content > div button:last-child {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 164px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.playIcon {
  width: 50px;
  height: 50px;
}

.playDemoText {
  transform: translateY(-10px);
}
